<table class="table table-hover">
	<thead>
		<tr>
			<th>Nr</th>
			<th>Bank</th>
			<th>Nazwa lokaty</th>
			<th>Okres</th>
			<th>Wartość</th>			
			<th>Oprocentowanie</th>
			<th>Otwarta</th>
			{% if not client %}
				<th>Klient</th>
			{% endif %}
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for deposit in deposits_list %}
		<tr">
			<td>{{deposit.id}}</td>
			<td>{{deposit.bank.abbreviation}}</td>
			{% if deposit.comment %}
			<td>{{deposit.name}} <i class="fab fa-font-awesome" title="{{deposit.comment}}"></i></td>

			{% else %}
			<td >{{deposit.name}}</td>
			{% endif %}
			<td>{{deposit.start_date|date:'Y/m/d'}} - {{deposit.stop_date|date:'Y/m/d'}}</td>
			<td>{{deposit.value}}</td>
			<td>{{deposit.interest}}</td>

			{% if deposit.opened %}
				<td><i class="far fa-check-circle"></i>&nbsp
					<a href="{% url "savings:deposit_close" deposit.id %}">Zamknij</a>
				</td>
			{% else %}
				<td><i class="fas fa-times-circle"></i></td>
			{% endif %}

			{# nie wyświetlany kolumny klient, gdy są to depozyty dla danego klienta #}
			{% if not client %}
			<td><a href="{% url "savings:client_detail" pk=deposit.client.pk %}">{{deposit.client}}</a></td>

				<td><a href="{% url "savings:deposit_delete" deposit.id %}">Skasuj</a> </td>
			{% endif %}

		</tr>
		{% empty %}
		<tr>
			<td colspan="6">Brak danych o depozytach</td>
		</tr>
		
		{% endfor%}
	</tbody>


</table>